body{
  margin: 0px;
  width: 100vw;
}
.desktop{
  display: none;
}
#floatingfonts{
  font-family: 'Arima Madurai', cursive;
  font-family: 'Lato', sans-serif;
}
.full_header{
  padding: 9px 0% 0% 0%;
}
.header_mobile_icon{
  width: 240px;
}

.fa-bars{ 
  color:#9C0058;
  font-size: 43px;
  -webkit-text-stroke: 2px white;
}
.fa-bar-div{
}
.mobile_header{
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  justify-content: space-between;
}
.mobile_menu{
  display: none;
  flex-direction: column;
  align-items: center;
  background-color: #9C0058;  
}
.mobile_menu_upper{
  padding-top: 30px;
  padding-bottom: 34px;
  border-bottom: 1px ridge white;
  width: 350px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mobile_menu_navigation{
  font-family: 'Lato', sans-serif;
  color: white;
  text-decoration: none;
  font-size: 21px;
  line-height: 58px;

}
.mobile_menu_current_page{
  width: 126px;
  border-bottom: 3px ridge white;
}
.mobile_menu_lower{
  padding-top: 20px;
  text-align: center;
  font-size: 23px;
  line-height: 21px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px
}

.homepage_hero{
  width: 100%;
}
.regpage_hero{
  width: 100%;
}
.desktop_full_size_herotext{
}
.index_main{
  padding-left: 55px;
  padding-right: 55px;
}
.index_first{
  font-family: 'Arima Madurai', cursive;
  color: #9C0058;
  text-align: center;
  font-size: 36px;
  padding-bottom: 10%;
  border-bottom: ridge #EAEAEA;
  font-weight: 900;
}
.index_second{
  font-family: 'Arima Madurai', cursive;
  color: #9C0058;
  text-align: center;
  font-size: 24px;
  padding: 15px 10px 0 10px;
  margin-bottom: 0px;
  line-height: 35px;
  font-weight: 900;
}
.index_third{
  font-family: 'Lato', sans-serif;
  color: #95989A;
  text-align: center;
  font-size: 13px;
  line-height: 35px;
  margin: 10px 25px 0 25px;
  list-style-position: inside;
}
.index_bullets{
  margin: 10px 0px 0 0;
  padding: 0; 
}
.bullet{
  position:relative;left:-10px;
}
.index_buttons{
  font-family: 'Lato', sans-serif;
  color: white;
  font-size: 18px;
  background-color: #56B4BA;
  margin: 14px auto 45px auto;
  padding: 15px 45px 15px 45px;
  border-radius: 8px;
  display: table;
}
.buttons{
  text-decoration: none;
}
.purple_buttons{
  text-decoration: none;
  margin: 46px auto 73px auto;
  display: block;
}
.index_purple_buttons_upper{
  margin: 46px auto 73px auto;
}
.purple_buttons_photo{
  width:100%;
  display: block;
}
.index_purple_buttons_lower{
  font-family: 'Lato', sans-serif;
  color: white;
  font-size: 30px;
  background-color: #9C0058;
  text-align: center;
  border-radius: 0 0 8px 8px;
  padding: 21px 0px 21px 0px;
  display: table;
  margin: 0 auto;
  width: 100%;
}
.index_posts{
  margin-bottom: 80px; 
}
.index_posts_one{
  margin-top: 70px;
}
.posts_headline{
  font-family: 'Lato', sans-serif;
  color: #9C0058;
  font-size: 23px;
  font-weight: bolder;
  margin: 0px;
}
.posts_date_and_link{
  display: flex;
  font-family: 'Lato', sans-serif;
}
.posts_date_and_link p{
  margin: 2px 0 2px 0 ;
  font-size: 16px;
}
.article_category_link{
  color: #9C0058;
  padding-left: 15px;
}
.article_date{
  padding-right: 15px;
  border-right: ridge;
}
.article_blurb{
  font-family: 'Lato', sans-serif;
  line-height: 28px;
  margin: 0 30px 0 0;
  font-size: 15px;
}
.index_blue_buttons{
  font-family: 'Lato', sans-serif;
  color: white;
  font-size: 18px;
  background-color: #56B4BA;
  text-align: center;
  padding: 17px 0 17px 0;
  margin: 20px 50px 50px 50px;
  border-radius: 8px;

}
.index_posts_one_third{
  display: none;
}
.index_posts_grey{
  display: none;
}
.index_footer{
  background-image: url("./FOOTER-BACKGROUND.png");
  color: #95989A;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Lato', sans-serif;
  padding-bottom: 10px;
}
.index_footer p{
  margin: 0px;
  text-align: center;
}
.footer_mobile_icon{
  margin: 95px 0 20px 0;
  width: 330px;
}
.address{
  font-size: 17px
}
.phone_number{
  font-size: 17px;
}
.footer_ender{
  font-size: 15px;
}
.footer_navigation{
  display: none; 
}
.rights{
  padding-top: 40px;
}
.our_services_first_div{
  border-bottom: 1px ridge #95989A;
  margin-bottom: 40px;
}
.our_services_first{
font-family: 'Arima Madurai', cursive;
  color: #9C0058;
  text-align: center;
  font-size: 36px;
  font-weight: normal;
}
.our_services_second{
  font-family: 'Lato', sans-serif;
  color: #95989A;
  text-align: center;
  font-size: 13px;
  line-height: 29px;
  margin-bottom: 10px;
}
.our_services_content_image{
  display: none;
}
.our_services_content_image_div{
    display: none;
}
.our_services_after_hero_text{
  margin-top: -10px;
}
.our_services_bullet{
  position: relative;
  left: -10px;
}
.our_services_third{
  text-align: left;
  font-size: 13px;
  line-height: 26px;
  margin: 6px 0 0 14px;
  list-style-position: inside;
  text-align: center;
  font-family: 'Lato', sans-serif;
}
.our_services_buttons{
  font-family: 'Lato', sans-serif;
  color: white;
  background-color: #56B4BA;
  font-size: 13px;
  display: table;
  padding: 9px 22px 9px 22px;
  border-radius: 5px; 
  margin: 22px auto 0 auto;
}
.our_services_third_div{
  margin-top: 55px;
  text-align: center;
  border-bottom: 1px ridge #95989A; 
}
.our_services_third_div_headline{
  font-size: 24px;
  margin: 0;
  padding: 0;
font-family: 'Arima Madurai', cursive;
   color: #9C0058;
  line-height: 35px;
}
.our_services_third_div_text{
  font-size: 11px;
  line-height: 32px;
  margin-bottom: 20px;
  font-family: 'Lato', sans-serif;
}
.our_services_fourth_div{
  margin-top: 40px;
}
.our_services_posts_one{
  margin-top: 0px;
  display: flex;
  flex-direction: column;
}
.our_services_grey_text{
  text-align: center;
  font-size: 12px;
  line-height: 25px;
  margin: 0;
  padding: 0 15px 0 15px;
  list-style-position: inside;
  font-family: 'Lato', sans-serif;
  color: #95989A;
}
.our_services_grey_spacing{
  margin-bottom: 27px;
}
.our_services_post_photo{
  display: none;
}
.our_services_posts_grey{
  display: block;
  background-color: #EAEAEA;
  border-radius: 8px;
  margin-bottom: 40px;
  padding: 20px;
}
.our_services_post_photo{
  display: none;
}
.our_doctors_first{
  font-family: 'Arima Madurai', cursive;
  color: #9C0058;
  text-align: center;
  font-size: 36px;
  font-weight: 900;
  margin-bottom: 0px;
}
.our_doctors_second{
  font-family: 'Lato', sans-serif;
  color: #95989A;
  text-align: center;
  font-size: 24px;
  margin-bottom: 40px;
  margin-top: 6px;
  line-height: 35px;
  font-weight: 900;
  border-bottom: ridge #EAEAEA;
  padding-bottom: 10px;
}
.our_doctors_third{
  font-family: 'Lato', sans-serif;
  text-align: center;
  font-size: 13px;
  line-height: 35px;
  margin: 10px 25px 30px 25px;
  list-style-position: inside;
}
.our_doctors_posts_grey{
  display: none;
  background-color: #EAEAEA;
  border-radius: 8px;
  margin-bottom: 40px;
  padding: 20px;
}

@media (min-width: 570px) and (max-width: 989px) {
  .index_main{
    padding-left: 100px;
    padding-right: 100px;
  }
  .footer_mobile_icon {
    margin: 95px auto 20px auto;
    width: 380px;
    display: block;
  }
  .address {
    font-size: 20px;
  }
  .phone_number {
    font-size: 23px;
  }
  .footer_ender {
    font-size: 17px;
  }
}
@media (min-width: 990px) {
  .index_main{
    padding-left: 120px;
    padding-right: 120px;
    max-width: 990px;
    margin: 0 auto;
  }
  .full_header{
    padding: 0;
  }
  .desktop_header{
    display: flex;
    justify-content: space-between;
  }
  .mobile_header{
    display: none;
  }
  .header_mobile_icon{
    display: none;
  }
  .header_desktop_icon{
    display: block;
    margin-top: 14px;
    width: 400px;
    height: 85px;
    margin-bottom: 10px;
  }
  .fa-bars{
    display: none;
  }
  .fa-bar-div{
    display: none
  } 
  .upper_and_lower_header{
    display: block;
    position: relative;
  }
  .upper_header{
    display: flex;
    flex-wrap: nowrap;
    font-size: 10px;
    align-items: center;
    font-family: 'Lato', sans-serif;
    padding: 6px;
    border-radius: 0 0 10px 10px;
    background-color: #9C0058;
    color: white !important;
    margin-right: 0;
    margin-left: auto;
    position: absolute;
    top: 0;
    right: 0;
  }
  .upper_header a{
    white-space: nowrap;
    margin: 0px;
    color: white;
    margin-left: 6px;
    margin-right: 6px;
  }
  .header_phone_number{
    border-left: 1px groove white;
    padding: 0 0 0 3%;
  }
   .social_media{
    align-self: center;
    font-size: 21px;
  }
  .lower_header{
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    padding-top: 51px;
    padding-bottom: 10px;
    font-size: 14px;
    width: 400px;
    font-family: 'Lato', sans-serif;
  }
  .lower_header>*{
    margin: 0;
    color: #9C0058;
  }
  .homepage_hero{
    display: none
  }
  .desktop_full_size_herotext{
    background-image: url(./HOME-PAGE-FEATURED-IMAGE.png);  
    background-size: cover;
    background-position-x: 50%;
    height: 636px;
    padding-right: 0;
    padding-left: 0; 
  }
  .index_first_div{
    padding-top: 95px;
    padding-left: 52%
  }
 
  .index_first{
    padding-bottom: 0;
    margin: 0;
    border-bottom: none;
    font-size: 45px;
    line-height: 41px;
    text-align: left;
    width: 350px;
  }
  .index_first_desktop_only{
    display: block;
    font-family: 'Lato', sans-serif;
    color: #6E003F;
    font-size: 14px;
    line-height: 29px;
    margin-top: 15px;
    font-weight: 900;
  }

  .index_after_hero{
    display: flex;
    margin: 45px 0 0 0;
    justify-content: space-between;
  }
  .index_specialists_striving_benifits{
    width: 27%
  }
  .index_second{
    text-align: left;
    font-size: 22px;
    margin: 0;
    padding: 0;
  }
  .index_third{
    text-align: left;
    font-size: 10px;
    line-height: 27px;
    margin: 0;
  }
  .index_buttons{
    margin: 10px 0 0 0;
    padding: 9px 22px 9px 22px;
    border-radius: 5px;
  }
  .index_purple_button_holder{ 
    margin: 10px 0 0 0;
    display: flex;
    justify-content: space-between;
  }
  .purple_buttons{
    margin: 46px 0 73px 0;
    width: 46%;
  }
  .index_purple_buttons_upper{
    margin: 0px;  
  }

  .purple_buttons_photo{
  }
  .index_purple_buttons_lower{
    margin: 0;
  }
  .desktop_posts_and_greybox{
    display: flex;
  }
  .post_photo{
    display: block;
    background-color: #EAEAEA;
    padding-right: 235px;
    height: 140px;
    margin-right: 43px;
    margin-bottom: 40px;
    border-radius: 8px;
  }
  .third_post{
    display: block;
    border-bottom: none !important;
  }
  .post_non_photo_content{
  }
  .index_posts_grey{
    display: block;
    background-color: #EAEAEA;
    border-radius: 8px;
    padding-top: 16px;
    margin-left: 100px;
    padding-left: 50px;
    padding-right: 50px;
  }
  .index_posts_two{
    padding: 20px 0 30px 0;
    border-bottom: 1px ridge #95989A;
  }
  .posts_headline_two{

  }
  .mobile_only{
    display: none;
  }
  .index_posts{
    margin-bottom: 0;
  }
  .index_posts_one{
    margin-top: 0px;
    display: flex;
    padding-bottom: 10px;
    border-bottom: 2px ridge #EAEAEA;
    margin-bottom: 40px;
  }
  .posts_headline{
    font-size: 14px;
  }
  .posts_date_and_link{
    display: flex;
    font-family: 'Lato', sans-serif;
  }
  .posts_date_and_link p{
    margin: 2px 0 2px 0 ;
    font-size: 10px;
  }
  .article_category_link{
    color: #9C0058;
    padding-left: 5px;
  }
  .article_date{
    padding-right: 5px;
    border-right: ridge;
  }
  .article_blurb{
    font-family: 'Lato', sans-serif;
    line-height: 21px;
    margin: 0;
    font-size: 10px;
  }
  .index_buttons{
    font-size: 12px;    
  }
  .desktop_footer{
    display: flex;
    justify-content: space-between;
  }
  .desktop_footer_left{
    margin-top: 17px;
  }
  .index_footer{
    display: block;
  }
  .footer_navigation{
    display: flex;
    flex-direction: column;
    margin-top: 120px; 
    font-size: 10px;
    line-height: 21px;
  }
  .footer_navigation>*{
    color: #95989A;
  }
  .address{
    font-size: 11px;
  }
  .phone_number{
    font-size: 11px;
  }
  .rights{
    font-size: 11px !important;
  }
  .footer_ender{
    margin: 0 auto;
    font-size: 10px;
  }
   .our_services_first_div{
    margin-right: 100px;
    margin-left: 100px;
    margin-bottom: 95px;
    border-bottom: none;
  }
  .our_services_bullet{
    left: 0px;
  }
  .our_services_content_image_div{
    margin-right: 75px;
    width: 80%;
    display: block;
  }
  .our_services_content_image{
    display: block;
    width: 100%;
  }
  .our_services_after_hero_text{

  }
  .our_services_third{
    text-align: left;
    font-size: 11px;
    line-height: 21px;
    margin: -3px 0 0 14px;
  }
  .our_services_buttons{
    font-family: 'Lato', sans-serif;
    color: white;
    background-color: #56B4BA;
    font-size: 13px;
    display: table;
    margin: 22px 0 0 0;
    padding: 9px 22px 9px 22px;
    border-radius: 5px; 
  }
  .our_services_third_div{
    text-align: left;
    border-bottom: none;
  }
  .our_services_third_div_headline{
    font-size: 24px;
    margin: 0;
    padding: 0;
    font-family: 'Arima Madurai', cursive;
    color: #9C0058;
    line-height: 35px;
  }
  .our_services_third_div_text{
    font-size: 9px;
    line-height: 20px;
    margin: 0;
    margin-bottom: 20px;
    font-family: 'Lato', sans-serif;
  }
  .our_services_fourth_div{
    margin-top: 80px;
    display: flex;
  }
  .our_services_posts_grey{
    display: block;
    background-color: #EAEAEA;
    border-radius: 8px;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    margin-left: 0px;
    margin-right: 85px;
    width: 50%;
  }
  .our_services_grey_text{
    text-align: left;
    font-size: 10px;
    line-height: 25px;
    margin: 0;
  }
  .our_services_grey_spacing{
    margin-bottom: 27px;
  }
  .our_services_posts_one{
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    margin-bottom: 40px;
  }
  .our_services_post_photo{
    display: block;
    background-color: #EAEAEA;
    padding-right: 235px;
    height: 140px;
    margin-right: 43px;
    margin-bottom: 10px;
    border-radius: 8px;
  }
  .our_doctors_main_divs{
    margin-bottom: 23px;
  }
  .our_doctors_first {
    font-family: 'Arima Madurai', cursive;
    color: #9C0058;
    text-align: left;
    font-size: 36px;
    font-weight: 900;
    padding-bottom: 0;
    margin-bottom: -10px;
  }
  .our_doctors_second {
    font-family: 'Lato', sans-serif;
    color: #95989A;
    text-align: left;
    font-size: 18px;
    margin-bottom: 0px;
    margin-top: 0px;
    line-height: 28px;
    font-weight: 900;
    border-bottom: none;
  }
  .our_doctors_third {
    font-family: 'Lato', sans-serif;
    text-align: left;
    font-size: 12px;
    line-height: 24px;
    margin: 0;
    list-style-position: inside;
  }
  .our_doctors_posts{
    display: flex;
    margin-top: 52px
  }
  .our_doctors_posts_and_greybox{
    display: flex;
    flex-direction: row-reverse;
  }
  .our_doctors_posts_grey{
  display: block;
  background-color: #EAEAEA;
  border-radius: 8px;
  margin-bottom: 40px;
  padding: 35px;
  margin-top: 132px;
  margin-right: 75px;
  }
  .our_doctors_certifications_qualifications_education{
    width:190px;
    margin-bottom: 30px;
  }
  .our_doctors_greybox_header{
    color: #9C0058;
    text-align: left;
    font-size: 20px;
    margin: 0;
    padding: 0;
  }
  .our_doctors_greybox_text{
    font-family: 'Lato', sans-serif;
    text-align: left;
    font-size: 11px;
    line-height: 25px;
    list-style-position: inside;
    margin-top: 0px;  
  }
}
