body{
  margin: 0px;
  width: 100vw;
}
.desktop{
  display: none;
}
#floatingfonts{
  font-family: 'Amaranth', sans-serif;
  font-family: 'Poppins', sans-serif;
}
.full_header{
  padding: 9px 0% 0% 0%;
}
.header_mobile_icon{
  width: 240px;
}

.fa-bars{ 
  color:#9C0058;
  font-size: 43px;
  -webkit-text-stroke: 2px white;
}
.fa-bar-div{
}
.mobile_header{
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  justify-content: space-between;
}
.mobile_menu{
  display: none;
  flex-direction: column;
  align-items: center;
  background-color: #9C0058;  
  margin: 0 -55px 0 -55px;
}
.mobile_menu_upper{
  padding-top: 30px;
  padding-bottom: 34px;
  border-bottom: 1px ridge white;
  width: 350px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mobile_menu_navigation{
  font-family: 'Poppins', sans-serif;
  color: white;
  text-decoration: none;
  font-size: 21px;
  line-height: 58px;

}
.mobile_menu_current_page{
  width: 126px;
  border-bottom: 3px ridge white;
}
.mobile_menu_lower{
  padding-top: 20px;
  text-align: center;
  font-size: 23px;
  line-height: 21px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px
}

.homepage_hero{
  width: 100%;
}
.index_main{
  margin-left: 55px;
  margin-right: 55px;
}
.index_first{
  font-family: 'Amaranth', sans-serif;
  color: #9C0058;
  text-align: center;
  font-size: 36px;
  font-weight: normal;
  padding-bottom: 10%;
  border-bottom: ridge #EAEAEA;
}
.index_second{
  font-family: 'Amaranth', sans-serif;
  color: #9C0058;
  text-align: center;
  font-size: 24px;
  padding: 15px 10px 0 10px;
  margin-bottom: 0px;
  line-height: 35px;
}
.index_third{
  font-family: 'Poppins', sans-serif;
  color: #95989A;
  text-align: center;
  font-size: 13px;
  line-height: 35px;
  margin: 10px 25px 0 25px;
  list-style-position: inside;
}
.index_bullets{
  margin: 10px 25px 0 0; 
}
.bullet{
  position:relative;left:-10px;
}
.index_buttons{
  font-family: 'Poppins', sans-serif;
  color: white;
  font-size: 18px;
  background-color: #56B4BA;
  margin: 14px auto 45px auto;
  padding: 15px 45px 15px 45px;
  border-radius: 8px;
  display: table;
}
.buttons{
  text-decoration: none;
}
.purple_buttons{
  text-decoration: none;
  margin: 46px auto 73px auto;
  display: block;
}
.index_purple_buttons_upper{
  margin: 46px auto 73px auto;
}
.purple_buttons_photo{
  width:100%;
  display: block;
}
.index_purple_buttons_lower{
  font-family: 'Poppins', sans-serif;
  color: white;
  font-size: 30px;
  background-color: #9C0058;
  text-align: center;
  border-radius: 0 0 8px 8px;
  padding: 21px 0px 21px 0px;
  display: table;
  margin: 0 auto;
  width: 100%;
}
.index_posts{
  margin-bottom: 80px; 
}
.index_posts_one{
  margin-top: 70px;
}
.posts_headline{
  font-family: 'Poppins', sans-serif;
  color: #9C0058;
  font-size: 23px;
  font-weight: bolder;
  margin: 0px;
}
.posts_date_and_link{
  display: flex;
  font-family: 'Poppins', sans-serif;
}
.posts_date_and_link p{
  margin: 2px 0 2px 0 ;
  font-size: 16px;
}
.article_category_link{
  color: #9C0058;
  padding-left: 15px;
}
.article_date{
  padding-right: 15px;
  border-right: ridge;
}
.article_blurb{
  font-family: 'Poppins', sans-serif;
  line-height: 28px;
  margin: 0 30px 0 0;
  font-size: 15px;
}
.index_blue_buttons{
  font-family: 'Poppins', sans-serif;
  color: white;
  font-size: 18px;
  background-color: #56B4BA;
  text-align: center;
  padding: 17px 0 17px 0;
  margin: 20px 50px 50px 50px;
  border-radius: 8px;

}
.index_footer{
  background-image: url("./FOOTER-BACKGROUND.png");
  color: #95989A;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  padding-bottom: 10px;
}
.index_footer p{
  margin: 0px;
  text-align: center;
}
.footer_mobile_icon{
  margin: 95px 0 20px 0;
  width: 330px;
}
.address{
  font-size: 17px
}
.phone_number{
  font-size: 19px;
}
.footer_ender{
  font-size: 15px;
}
.rights{
  padding-top: 40px;
}

@media (min-width: 570px) {
  .index_main{
    margin: 0 140px 0 140px;
  }
  .full_header{
    padding: 0;
  }
  .desktop_header{
    display: flex;
  }
  .mobile_header{
    display: none;
  }
  .header_mobile_icon{
    display: none;
  }
  .header_desktop_icon{
    display: block;
    margin-top: 14px;
    width: 420px;
    height: 85px;
  }
  .fa-bars{
    display: none;
  }
  .fa-bar-div{
    display: none
  } 
  .upper_and_lower_header{
    margin-left: 187px;
    display: block;
    width: 592px;
  }
  .upper_header{
    display: flex;
    font-size: 12px;
    justify-content: space-around;
    color: #9C0058;
    font-family: 'Poppins', sans-serif;
    margin-top: 13px;
  }
  .upper_header>*{
    margin: 0px;
  }
  .header_phone_number{
    border-left: 1px groove #9C0058;
    border-right: 1px groove #9C0058;
    padding: 0 2%;
  }
   .social_media{
    align-self: center;
    font-size: 21px;
  }
  .lower_header{
    border-radius: 9px 9px 0px 0;
    display: flex;
    justify-content: space-around;
    color: white;
    background-color: #9C0058;
    margin-top: 25px;
    padding-top: 18px;
    padding-bottom: 10px;
    font-size: 20px;
  }
  .lower_header>*{
    margin: 0;
  }
  .clear{
    clear: all;
  }
  .homepage_hero{
  }
  .index_first_div{
    text-align: left;
    margin-left: 649px;
    margin-top: -527px
  }
  .index_first{
    text-align: left;
    padding-bottom: 0;
    margin: 0;
    border-bottom: none;
    font-size: 46px;
    line-height: 46px;
    margin-right: 202px;
  }
  .index_first_desktop_only{
    display: block;
    font-family: 'Poppins', sans-serif;
    color: #6E003F;
    font-size: 13px;
    line-height: 27px;
    margin-right: 43px;
  }
  .index_after_hero{
    display: flex;
    margin: 350px 0 0 0;
    justify-content: space-between;
  }
  .index_specialists_striving_benifits{
    width: 300px;
  }
  .index_second{
    text-align: left;
    font-size: 24px;
    margin: 0;
    padding: 0;
  }
  .index_third{
    text-align: left;
    font-size: 10px;
    line-height: 27px;
    margin: 0;
  }
  .index_buttons{
    margin: 4% 55% 9% 0;
  }
  .index_purple_button_holder{ 
    margin: 10px 0 0 0;
    display: flex;
    justify-content: space-between;
  }
  .purple_buttons{
    margin: 46px 0 73px 0;
  }
  .index_purple_buttons_upper{
    width: 536px;
    margin: 0 0 0 0;
  }
  .purple_buttons_photo{

  }
  .index_purple_buttons_lower{

  }
  .index_posts{
    width: 40%;
    margin-left: 10%;
  }
  .index_posts_one{
    margin-left: 0;

  }
  .post_photo{
    display: block;
  }
  .index_footer{
    margin: 0 -110px 0 -110px;
  }
}