body{
  margin: 0px;
  width: 100vw;
}
#floatingfonts{
  font-family: 'Amaranth', sans-serif;
  font-family: 'Poppins', sans-serif;
}
.full_header{
  padding: 4% 8% 1% 10%;
}
.header_mobile_icon{
  width: 62vw;
}
.header_desktop_icon{
  display: none;
}
.fa-bars{ 
  color:#9C0058;
  font-size: 250%;
  -webkit-text-stroke: 2px white;
}
.fa-bar-div{
  float: right;
  padding-top: 5%;
}
.upper_and_lower_header{
  display: none;
}
.mobile_menu{
  display: none;
  flex-direction: column;
  align-items: center;
  background-color: #9C0058;
  width: 100vw;
  height: 80vh;
  color: white;
  margin-left: -13%;
  font-family: 'Poppins', sans-serif;
}
.mobile_menu_upper{
  padding-top: 5%;
  border-bottom: 1px ridge white;
  width: 85vw;
  text-align: center;
  font-size: 23px;
  line-height: 21px
}
.mobile_menu_navigation{
}
.mobile_menu_lower{
  padding-top: 5%;
  text-align: center;
  font-size: 23px;
  line-height: 21px
}

.homepage_hero{
  height: 40vh;
}
.index_first{
  font-family: 'Amaranth', sans-serif;
  color: #9C0058;
  text-align: center;
  font-size: 36px;
  font-weight: normal;
  padding-bottom: 10%;
  margin:0 11%;
  border-bottom: ridge #EAEAEA;
}
.index_first_desktop_only{
  display: none;
}
.index_second{
  font-family: 'Amaranth', sans-serif;
  color: #9C0058;
  text-align: center;
  font-size: 24px;
  padding: 5% 10% 0 10%;
  margin-bottom: 0px;
  line-height: 35px;
}
.index_third{
  font-family: 'Poppins', sans-serif;
  color: #95989A;
  text-align: center;
  font-size: 13px;
  line-height: 35px;
  margin: .5em 13% 0 13%;
}
.index_buttons{
  font-family: 'Poppins', sans-serif;
  color: white;
  font-size: 18px;
  background-color: #56B4BA;
  text-align: center;
  padding: 3% 0 3% 0;
  margin: 4% 24% 9% 24%;
  border-radius: 8px;
}
.index_purple_buttons_upper{
  margin: 13% auto 21% auto;
  width: 78vw;
}
.purple_buttons_photo{
  width:100%;
}
.index_purple_buttons_lower{
  font-family: 'Poppins', sans-serif;
  color: white;
  font-size: 30px;
  background-color: #9C0058;
  text-align: center;
  border-radius: 0 0 8px 8px;
  margin-top: -2%;
  padding: 8%;

}
.index_posts{
  margin-bottom: 20%; 
}
.index_posts_one{
  margin-left: 9%;
}
.post_photo{
  display: none;
}
.posts_headline{
  font-family: 'Poppins', sans-serif;
  color: #9C0058;
  font-size: 26px;
  font-weight: bolder;
  margin: 0px;
}
.posts_date_and_link{
  display: flex;
  font-family: 'Poppins', sans-serif;
}
.posts_date_and_link p{
  margin: 1% 0 1% 0 ;
  font-size: 19px;
}
.article_category_link{
  color: #9C0058;
  padding-left: 3%
}
.article_date{
  padding-right: 3%;
  border-right: ridge;
}
.article_blurb{
  font-family: 'Poppins', sans-serif;
  line-height: 28px;
  margin: 0 20% 0 0;
  font-size: 17px;
}
.index_blue_buttons{
  font-family: 'Poppins', sans-serif;
  color: white;
  font-size: 18px;
  background-color: #56B4BA;
  text-align: center;
  padding: 4% 0 4% 0;
  margin: 6% 26% 17% 16%;
  border-radius: 8px;

}
.index_footer{
  background-color: #EAEAEA;
  color: #95989A;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Poppins', sans-serif;
}
.index_footer p{
  margin: 0px;
}
.footer_swoosh{
  width: 100vw;
  clip-path: inset(0 0 80%);
}
.footer_mobile_icon{
  width: 80vw;
  margin-top: -14%;
  margin-bottom: 4%
}
.address{
  font-size: 14.5px
}
.phone_number{
  font-size: 16px;
}
.footer_ender{
  font-size: 12px;
}
.rights{
  padding-top: 10%;
}

@media (min-width: 570px) {
   .full_header{
    padding: 0% 8% 0% 10%;
  }
  .desktop_header{
    display: inline-flex;
  }
  .header_mobile_icon{
    width: 0px;
    display: none;
  }
  .header_desktop_icon{
    margin-top: 1.5%;
    display: block;
    width: 30vw;
    height: 25%;
  }
  .fa-bars{
    display: none;
  }
  .fa-bar-div{
    display: none
  }
  .social_media{
    align-self: center;
    font-size: 21px;
  }
  .upper_and_lower_header{
    margin-left: 20%;
    display: block;
    width: 52vw;
  }
  .upper_header{
    display: flex;
    font-size: 12px;
    justify-content: space-around;
    color: #9C0058;
    font-family: 'Poppins', sans-serif;
    margin-top: 1%;
  }
  .upper_header>*{
    margin: 0px;
  }
  .header_phone_number{
    border-left: 1px groove #9C0058;
    border-right: 1px groove #9C0058;
    padding: 0 2%;

  }
  .lower_header{
    height: 40%;
    border-radius: 10px 10px 0px 0;
    display: flex;
    justify-content: space-between;
    color: white;
    background-color: #9C0058;
  }
  .lower_header>*{
    margin: 1%;
  }
  .clear{
    clear: all;
  }
  .homepage_hero{
    width: 100vw;
    height: 82vh;
  }
  .index_first_div{
    text-align: left;
    margin-left: 54%;
    margin-top: -33%;
  }
  .index_first{
    text-align: left;
    padding-bottom: 0%;
    margin:0;
    border-bottom: none;
    font-size: 41px;

  }
  .index_first_desktop_only{
    display: block;
    width: 72%;
    font-family: 'Poppins', sans-serif;
    color: #6E003F;
    font-size: 13px;
    line-height: 27px;
  }
  .index_after_hero{
    display: flex;
    margin: 15% 10% 0 10%;
    justify-content: space-between;
  }
  .index_specialists_striving_benifits{
    width: 30%;
  }
  .index_second{
    text-align: left;
    font-size: 24px;
    margin: 0;
    padding: 0;
  }
  .index_third{
    text-align: left;
    font-size: 10px;
    line-height: 27px;
    margin: 0;
  }
  .index_buttons{
    margin: 4% 55% 9% 0;
  }
  .index_purple_button_holder{
    margin: 5% 10% 0 10%;
    display: flex;
    justify-content: space-between;

  }
  .index_purple_buttons_upper{
    width: 38vw;
    margin: 0 0 10% 0;
  }
  .purple_buttons_photo{

  }
  .index_purple_buttons_lower{

  }
  .index_posts{
    width: 40%;
    margin-left: 10%;
  }
  .index_posts_one{

  }
  .post_photo{
    display: block;
  }
}